* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}

body {
  padding: 50px;
}

.container {
  width: 100%;
  height: 55%;
  display: flex;
  border-radius: 20px;
  border: 10px solid rgb(218, 215, 215);
  
}

.container1 {
  width: 50%;
  height: 100%;
  background-image: url(https://as1.ftcdn.net/v2/jpg/00/21/55/82/1000_F_21558294_Ac4CvbGLpmuKynimBIYduxxLxw420ai1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  padding: 60px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  text-align: center;
}

.container1 > h1 {
  font-weight: 900;
  margin-bottom: 10px;
}

.container1 > a {
  background-color: white;
  color: black;
  width: 20px;
  height:20px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.container1 > P {
  color: rgb(224, 213, 213);
}
.container1 > {
  background-color: grey;
}

.container1 > button {
  margin-top: 10px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: #007991;
}

button:hover {
  cursor: pointer;
  background-color: #6C5B7B;
}

.container2 {
  width: 50%;
  height: 100%;
  padding: 60px;
  background-image: url(dog_photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  background-color: #c94b4b;
}

.container2 > h1 {
  color: white;
  margin-bottom: 30px;
  /* position: absolute; */
  /* top: 30%; */
  /* right: 33%; */
}

.container2 > p {
  color: rgb(58, 33, 33);
  margin-bottom: 10px;
  position: absolute;
  bottom: 50%;
  left: 5%;
  font-weight: 600;
}

.container2 > button {
  padding: 20px;
  /* margin-bottom: 15px; */
  /* margin-top: 70px; */
  color: white;
  background-color: #c94b4b;
  border-radius: 30px;
  border:1px solid white;
  position: absolute;
  bottom: 25%;
  right: 40%;
}

button:hover {
  cursor: pointer;
  background-color: #355C7D;
}





